@charset "utf-8";
body {
    background-color: #000000;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #FFFFFF;
}
p,
a,
ul,
ol,
li,
label,
input{
  font-family: muli, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
}
h1, h2, h3, h4, h5 {
  font-family: karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
#header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #000000;
    border-bottom: 4px solid #EB232F;
    text-shadow: 0px 0px #FFFFFF;
}
#header h1 {
    font-family: aguafina-script;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: none;
    background-color: #000000;
    text-shadow: 0px 0px #FFFFFF;
}
#navigation {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#navigation a {
  color: #EB232F;
}
.main {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  clear: both;
  overflow: auto;
  max-width: 1140px;
}
.main #main-right {
  float: right;
  width: 37.5%;
  display: block;
}
.main #main-left {
  float: left;
  width: 57%;
  display: block;
  padding-right: 20px;
}
.main #main-right .cta {
  text-align: center;
}
.main #main-right .form {
  width: 92%;
  margin-right: auto;
  margin-left: auto;
}
#main-right .form div {
  margin-bottom: 10px;
}
#main-right .form .label {
}
#main-right .form .textfield {
  width: 100%;
}
.main #main-right #button {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  padding-right: 36px;
  padding-left: 36px;
  border: none;
  background-color: #EB232F;
  color: #FFFFFF;
  cursor: pointer;
}
.footer {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
@media (max-width:375px){
.main {
    width: auto;
}
.main #main-left {
    float: none;
    width: auto;
    padding-left: 13px;
}
.main #main-right {
    float: none;
    width: auto;
    padding-left: 13px;
}


	/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

}
